body {
  background-color: #2d2a2a;
  color: #fff;
  font-family: comic, "Comic Sans MS", "Comic Sans", cursive;
  margin: 100px 100px 75px 50px;
  font-size: 20px;

}

textarea {
  padding: 10px;
  max-width: 100%;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #f0f0f0;
  box-shadow: 1px 1px 1px #1e1e1e;
}
input {
  width: 100px;
  padding: 10px;
  border: 2px solid #382e2e;
  margin: 0px 0px 0px 50px;
  color: #ffffff;
  border-radius: 5px;
  background-color: #d7bcbc;
}

button {
  font-family: comic;
  border-radius: 10px;
  background-color: #5a5050;
  color: #ffffff
}

h2,
h3,
h4,
h5,
h6 {
  margin-left: 50px;
}

p {
  margin-left: 75px;
}
fieldset {
  margin-left: 75px;
    margin-right: 100px;
  
}
ul {
  margin-left: 100px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ffffff;
  font-weight: bold;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #ccc;
  text-decoration: underline;
}

p {
  margin-bottom: 1em;
}

img {
  max-width: 100%;
  display: block;
  margin-left: 80px;
  border-radius: 10px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.rounded {
  border-radius: 5px;
}

@font-face {
  font-family: "comic";
  src: url('COMIC.TTF') format('truetype');
}